/* Created by Liz*/


/*初始化*/

html, body, p, h1, h2, h3, h4, a, hr, pre, ul, ol, li, a {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
}
* {
    box-sizing: border-box;
}
body {
    overflow: hidden;
    overflow-y: auto;
}
body, html {
    height: 100%;
    width: 100%;
    font:12px 'Arial','Microsoft YaHei','tahoma','Hiragino Sans GB','\5b8b\4f53','sans-serif';
}

pre {
    background: none;
    border: none;
}
.
.fl{
    float: left;
}
.fr{
    float: right;
}
section{
    width: 100%;
    position: relative;
    display: none;
    overflow: hidden;
}
.middle{
    position: absolute;
    top:50%;
    -webkit-transform:translateY(-50%);
            transform:translateY(-50%);
}
.center{
    position: absolute;
    left:50%;
    -webkit-transform:translateX(-50%);
            transform:translateX(-50%);
}
.cm{
    position: absolute;
    left:50%;
    top: 50%;
    -webkit-transform:translate3D(-50%,-50%,0);
            transform:translate3D(-50%,-50%,0);
}
a, a:visited, a:focus, a:hover {
    color: #ffffff;
    text-decoration: none;
}
.block{
    display: block!important;
}
.none{
    display: none!important;
}
.visible{
    visibility: visible!important;
}
.hidden{
    visibility: hidden!important;
}
.Liz-scroll {
    margin-right: 20px;
    padding-right: 20px;
    overflow-y: auto;
}


/* 滚动条整体部分width,height,background,border *****************************chrome*/

.Liz-scroll::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}
/* 滚动条两端的按钮。可以用display:none让其不显示 */

.Liz-scroll::-webkit-scrollbar-button {
    display: none;
}
/*   内层轨道，滚动条中间部分（除去） */

.Liz-scroll::-webkit-scrollbar-track-piece {
    background: #C0C0C0;
}
/*  滚动条里面可以拖动的那部分 */

.Liz-scroll::-webkit-scrollbar-thumb {
    background: #d7000f;
    border-radius: 4px;
}

@font-face { 
    font-family: AR; 
    src: url('../font/AkzidenzGrotesk-Regular.otf'); 
} 
@font-face { 
    font-family: FL; 
    src: url('../font/FlamaLight.otf'); 
} 
@font-face { 
    font-family: GL; 
    src: url('../font/Giacomo Light.otf'); 
} 